registry=https://fbinfra555artifactory.jfrog.io/artifactory/api/npm/dynamic-npm
always-auth=true
//fbinfra555artifactory.jfrog.io/artifactory/api/npm/dynamic-npm/:_authToken=${JFROG_TOKEN}
engine-strict=true
strict-peer-dependencies=false
auto-install-peers=true
